<div *ngIf="!loading" style="height: 600px; align-items: center;" [style.background]="'rgb(' + movie.backdrop_path[0] + ',' + movie.backdrop_path[1] + ',' + movie.backdrop_path[2] + ',' + 0.4 + ')'">
<div class="container movie-details" style="display: flex;">
    <img src={{movie.poster_path}} class="img-fluid" style="height: 390px;">
    <div class="movie-detail">
        <h1 style="color: white; font-weight: bold;">{{movie.title}}</h1>
        <h5 style="color: #9fa2a4;">{{movie.release_date}}</h5>
        <div class="movie-rate" style="justify-content: space-between; width: 90%;">
            <div class="movie-rate">
            <div class="rating-point">
                <div style="color: #3fefe6; margin: 0; font-weight: 800; font-size: 19px;">{{movie.vote_average}}</div>
            </div>
            <h5 style="Width: 50px;
            margin-left: 10px; font-weight: 500;"> User Score </h5>
        
            <div id="wishlist" (click)="addWishList()" style="pointer-events: all;">
                <div *ngIf="loadingWatchlist" style="display: flex;">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="45" height="45" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                        <g transform="rotate(0 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(30 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(60 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(90 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(120 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(150 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(180 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(210 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(240 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(270 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(300 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                          </rect>
                        </g><g transform="rotate(330 50 50)">
                          <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#3fefe6">
                            <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
                          </rect>
                        </g>
                    </svg>
                    <div *ngIf="!watchlist" class="py-2">Loading</div>
                </div >
                <div *ngIf="!loadingWatchlist" style="display: flex;">
                <svg *ngIf="!watchlist" style="color: #3fefe6;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"></path></svg>
                <svg class="px-1" *ngIf="watchlist" fill="#3fefe6" height="33" width="33" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                viewBox="0 0 490 490" xml:space="preserve">
                <polygon points="452.253,28.326 197.831,394.674 29.044,256.875 0,292.469 207.253,461.674 490,54.528 "/>
                </svg>
                <div *ngIf="!watchlist" class="py-2">Add to wishlist</div>
                <div *ngIf="watchlist" class="py-2 px-2">In your watchlist</div>
                </div>
            </div>
            <div id="star" (click)="show()">
                <svg style="color: #fd4544;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path></svg>
                <div  id="ratePoint">{{rate}}</div>
                <svg *ngIf="loadingWatchlist" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="45" height="45" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                  <g transform="rotate(0 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9166666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(30 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8333333333333334s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(60 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.75s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(90 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(120 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5833333333333334s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(150 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(180 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4166666666666667s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(210 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(240 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(270 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16666666666666666s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(300 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08333333333333333s" repeatCount="indefinite"></animate>
                    </rect>
                  </g><g transform="rotate(330 50 50)">
                    <rect x="47" y="24" rx="3" ry="6" width="6" height="12" fill="#fe718d">
                      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
                    </rect>
                  </g>
                </svg>
            </div>
            <form *ngIf="showRatingStar" class="rating-form" [formGroup]="formGroup" >
                <ngx-star-rating (click)="rateMovie()" formControlName="rating" [id]="'rating'" ></ngx-star-rating>
            </form>
            </div>
            <div class="play-button" (click)="playTrailer()">
                <span class="material-icons" style="font-size: 30px;">play_arrow</span>
                <div>Play Trailer</div>
            </div>
            
        </div>
       
        <h3 style="color: #fd4544; font-weight: 200;">Overview</h3>
        <h6 style="width: 100%; color: white;">{{movie.overview}}</h6>
    </div>
</div>
</div>
<div id="trailer" style="display: none;" >
    <div class="trailer-frame" style="display: flex; justify-content: center; align-items: center; height: 200vh;">
        <div style="display: flex; flex-direction: column;">
            <div style=" display: inline">
                <span style="color: #bcc2c5; float: right; font-size: 30px;"  class="material-icons close-btn" (click)="closeTrailer()">close</span>
            </div>
            <iframe id="video" width="1080" height="630"  title="YouTube video player" style="margin: 0 auto;"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
    </div>
</div>
<div
  infinite-scroll 
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="500"
  (scrolled)="loadMedia()">
</div>
<div class="container mt-5">
 <h2 style="color: #3fefe6; font-weight: bold;">Media</h2>
 <div *ngIf="show1" class="scroll-container">
     <img *ngFor="let url of imageUrls" loading="lazy" [src]="url" alt="Image" width="533" height="300">
 </div>
</div>
<div
  infinite-scroll 
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="500"
  (scrolled)="loadStaff()">
</div>
<div *ngIf="show2" class="container mt-5">
<h2 style="color: #3fefe6; font-weight: bold;">Staff</h2>
<div class="scroll-container">
  <span class="staff-card" *ngFor="let staff of staffList">
    <img style="object-fit: contain;" loading="lazy" [src]="staff.profile_path" width="138" height="175" alt="Image">
    <div>
        {{staff.name}}
    </div>
  </span>
</div>
</div>

<div
  infinite-scroll
  [infiniteScrollDistance]="0"
  [infiniteScrollThrottle]="500"
  (scrolled)="loadRecommendations()">
</div>
<div class="container mt-5">
  <h2 *ngIf="show3" style="color: #3fefe6; font-weight: bold;">Recommendations</h2>
  <div *ngIf="show3" class="scroll-container" style="background: transparent;">
    <a *ngFor="let movie of recommendationList">
      <img style="margin-right: 4px;" loading="lazy" [src]="movie.poster_path" width="220" height="350" alt="Image" (click)="redirect(movie.id)">
    </a>
</div>
</div>

<div *ngIf="scrollload && end" style="display: flex; justify-content: center; align-items: center;">
  <div>
    <mat-progress-spinner [mode]="'indeterminate'" style="width: 50px !important;"></mat-progress-spinner>
  </div>
</div>


