<div *ngIf="!loading" style="height: 600px; align-items: center;" [style.background]="'rgb(' + movie.backdrop_path[0] + ',' + movie.backdrop_path[1] + ',' + movie.backdrop_path[2] + ',' + 0.4 + ')'">
<div class="container movie-details" style="display: flex;">
    <img src={{movie.poster_path}} class="img-fluid" style="height: 390px;">
    <div class="movie-detail">
        <h1 style="color: white; font-weight: bold;">{{movie.title}}</h1>
        <h5 style="color: #9fa2a4;">{{movie.release_date}}</h5>
        <div class="movie-rate" style="justify-content: space-between; width: 90%;">
            <div class="movie-rate">
            <div class="rating-point">
                <div style="color: #3fefe6; margin: 0; font-weight: 800; font-size: 19px;">{{movie.vote_average}}</div>
            </div>
            <h5 style="Width: 50px;
            margin-left: 10px; font-weight: 500;"> User Score </h5>
        
            <div id="wishlist">
                <svg style="color: #3fefe6;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path d="M18 13h-5v5c0 .55-.45 1-1 1s-1-.45-1-1v-5H6c-.55 0-1-.45-1-1s.45-1 1-1h5V6c0-.55.45-1 1-1s1 .45 1 1v5h5c.55 0 1 .45 1 1s-.45 1-1 1z"></path></svg>
            <div>Add to wishlist</div>
            </div>
            <div id="star" (click)="show()">
                <svg style="color: #fd4544;" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="currentColor" role="presentation"><path fill="none" d="M0 0h24v24H0V0z"></path><path d="M19.65 9.04l-4.84-.42-1.89-4.45c-.34-.81-1.5-.81-1.84 0L9.19 8.63l-4.83.41c-.88.07-1.24 1.17-.57 1.75l3.67 3.18-1.1 4.72c-.2.86.73 1.54 1.49 1.08l4.15-2.5 4.15 2.51c.76.46 1.69-.22 1.49-1.08l-1.1-4.73 3.67-3.18c.67-.58.32-1.68-.56-1.75zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"></path></svg>
                <div>Rate</div>
            
            </div>
            <form *ngIf="showRatingStar" class="rating-form" [formGroup]="formGroup">
                <ngx-star-rating formControlName="rating" [id]="'rating'"></ngx-star-rating>
            </form>
            </div>
            <div class="play-button" (click)="playTrailer()">
                <span class="material-icons" style="font-size: 30px;">play_arrow</span>
                <div>Play Trailer</div>
            </div>
            
        </div>
       
        <h3 style="color: #fd4544; font-weight: 200;">Overview</h3>
        <h6 style="width: 100%; color: white;">{{movie.overview}}</h6>
    </div>
</div>
</div>
<div id="trailer" style="display: none;" >
    <div class="trailer-frame" style="display: flex; justify-content: center; align-items: center; height: 200vh;">
        <div style="display: flex; flex-direction: column;">
            <div style=" display: inline">
                <span style="color: #bcc2c5; float: right; font-size: 30px;"  class="material-icons close-btn" (click)="closeTrailer()">close</span>
            </div>
            <iframe id="video" width="1080" height="630"  title="YouTube video player" style="margin: 0 auto;"
             frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        
    </div>
</div>
<app-images *ngIf="!loading"></app-images>

