<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background: #1a1b1b !important;">
  <div class="container-fluid">
   <div style="display: flex;">
    <a id="logo-anchor" class="navbar-brand" (click)="homepage()">
      <img src="assets/image/logo.png" width="120px" height="50px">
    </a>

    <div class="searchbar">
      <input #Input class="search_input" type="text" name="query" [(ngModel)]="query" placeholder="Search..."
        (keyup.enter)="searchMovie()">
      <a (click)="searchMovie()" class="search_icon"><i class="fas fa-search" style="color: #fd4544;"></i></a>
    </div>
   </div>


    <div style="justify-content: right; margin-left: 0px;">
      <ul class="navbar-nav" style="display: flex !important; flex-direction: row;">
        <li class="nav-item" style="display: flex; align-items: center; color: whitesmoke; font-weight: 500;">
          Contact me:
          <a class="logo-link" href="https://www.facebook.com/profile.php?id=100010078389299">
            <img src="assets/image/facebook.png" width="17px">
          </a>
          <a class="logo-link" href="https://github.com/Mhoanganh207">
            <img src="assets/image/github.png" width="19px">
          </a>

        </li>
        <li *ngIf="!signedIn" id="signin" class="nav-item">
          <a class="nav-link" routerLink="/account/signin">Sign In</a>
        </li>
        <li *ngIf="!signedIn" id="signup" class="nav-item">
          <a class="nav-link" routerLink="/account/signup">Sign Up</a>
        </li>
        <li *ngIf="signedIn" id="account" class="nav-item">
          <a class="nav-link" routerLink="/account/profile">
            <span class="material-icons" style="color: #3feee5; font-size: 45px;">account_circle</span>
          </a>
        </li>



      </ul>
    </div>
  </div>
</nav>