

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}


@media screen and (min-width: 1601px) {

  .movie-details{
    margin-left: 110px !important;
  }

}

@media screen and (min-width: 800px) {

  .welcome-text{
    font-size: 40px;
  }

}

@media screen and (max-width: 801px) {

  .welcome-text{
    font-size: 27px;
  }

}



/* @media screen and (min-width: 500px) {

  .navbar-brand{
    margin-left: 50px !important;
  }
  #navbarSupportedContent{
    margin-left: 50px;
  }

} */


body{
  min-width: 1100px;
  overflow-y: auto;
  overflow-x: hidden;
}

.movie-details{
  min-width: 1100px;
}

body{
  background: black !important;
  scrollbar-gutter: stable;
}
body::-webkit-scrollbar-track{
  background: inherit;

}
body::-webkit-scrollbar{
  width: 7px;
}
body::-webkit-scrollbar-thumb{
  background: grey;

}
.signin input{
  color: black;
}

.signin .mb-3{
  color: white;
}
.signin .container{
  border-radius: 15px;
  width: 500px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #1a1b1b;


}

.glider-track .card{
  background: #1a1b1b;
}

.glider.track .card-body{

  background: #1a1b1b;
}

.card-body{
  border-radius: 15px;
  background: #1a1b1b;
}

.signin .btn {
  background: #fd4544;
  color: #3fefe6;
  font-weight: 800;
}


.signup .card{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 25px;
  background: #1a1b1b;
}

.card-body{
  background: #1a1b1b;
}

.form-container{
  margin : 0 auto;
}

.signin .mt-5{
  margin-top: 5px;
  padding: 1rem;
}

.form-floating{
  margin-bottom: 1rem;
}

.navbar-brand{
  padding: 0 !important;
}

.input-group {
  width: 50% !important;
}
.ms-n5 {
  margin-left: -40px;
}
.input-group .btn{
  background: #212529 !important;
}
.logo-link{
  margin-left: 5px;
  margin-right: 5px;
}
.fa{
  color: #3fefe6 !important;
}
.fa:hover{
  color: #fd4544 !important;
}

#signin{
  width: 75px;
  margin-left: 10px;
}
.nav-link:hover{
  color: #3fefe6 !important;
}
.failed{
  border: 2px solid red !important;
}
.overlap-text{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.glider-prev{
  position: static !important;
  cursor: pointer !important;
  opacity: 1 !important;
}
.glider-prev ::hover{
  background: #fd4544 !important;
  cursor: pointer !important;
}
.glider-next{
  opacity: 1 !important;
  cursor: pointer !important;
  margin-left: 10px !important;
  position: static !important;
}
.glider .card{
  color: #9fa2a4;
  width: 200px !important;
  margin-left: 7px !important;
  margin-right: 7px !important;

}
.glider-track{
  width: 6600px !important;
}

.movie-details {
 padding-top: 100px;
}
.movie-details img{
  border-radius: 10px;
}

.glider-track .card{
  cursor: pointer;
}
#glider .glider-track{
  padding-top: 15px;
  width: 6600px !important;
  -webkit-mask: linear-gradient(181deg,#0000,#000 10% 90%,#0000);
}
#glider1 .glider-track{
  padding-top: 15px;
  width: 6600px !important;
  -webkit-mask: linear-gradient(181deg,#0000,#000 5% 95%,#0000);
}

#glider2 .glider-track{
  padding-top: 15px;
  width: 6600px !important;
  -webkit-mask: linear-gradient(181deg,#0000,#000 5% 90%,#0000);
}
#one{
  color: #fd4544 !important;
  cursor: pointer !important;
}
#two{
  color: #3fefe6 !important;
  cursor: pointer !important;
}
#three{
  color: #fd4544 !important;
  cursor: pointer !important;
}
#four{
  color: #3fefe6 !important;
  cursor: pointer !important;
}
#five{
  color: #fd4544 !important;
  cursor: pointer !important;
}
#six{
  color: #3fefe6 !important;
  cursor: pointer !important;
}
.movie-detail{
  width: 80%;
  height: 80%;
  color: aliceblue;
  margin-left: 25px;
  margin-top: 10px;
}
.movie-rate{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center ;
  height: 75px;
}

.rating-point{
  display: flex;
  background: #2b3035;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 4px solid #fd4544;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.rating-point:hover{
  transform : scale(1.1);
}

.rate-point{
  display: flex;
  background: black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #3fefe6;
  justify-content: center;
  align-items: center;

}
#star{
  padding-left: 3px;
  padding-right: 3px;
  align-items: center;
  display: flex;
  margin-left:15px;
  border-radius: 5px;
  transition: 0.5s;
}
#star:hover{
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer !important;
}

#star div{
  font-size: 20px;
  color : #fd4544;
  padding : 0 5px;
  font-weight: 600;
}

.star{
  font-size: 29px !important;
  color: #3fefe6 !important;
}
.rating-form{
  transition:left 1s;
}
.play-button{
  display: flex;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.play-button:hover{
  color: #fd4544 !important;
}

.movie-detail *{
  font-weight: 600;
}



.trailer-frame{
  z-index: 110;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.close-btn{
  cursor: pointer;
  transition: 0.5s;
}
.close-btn:hover{
  color: #fd4544 !important;
}


div.scroll-container {
  z-index: 2;
  background-color: #1e2125;
  overflow: auto;
  white-space: nowrap;
  border-radius: 10px;
  text-overflow: clip;

}
.scroll-container{
  background: transparent !important;
}
.glider-track .card{
  margin : 0;
  border: none !important;
}

.scroll-container::-webkit-scrollbar-track{
  background: inherit;


}
.scroll-container::-webkit-scrollbar{
  height: 6px ;
  border-radius: 10px;
}
.scroll-container::-webkit-scrollbar-thumb{
  background: grey;
  border-radius: 10px;

}
.background-container{

  margin: 0 auto;
  background-image: url('https://image.tmdb.org/t/p/w1920_and_h1080_bestv2/mFreKKBNnB2v678aDq0IZ2jaD8K.jpg');
  background-position: 0px -470px;
  -webkit-mask: linear-gradient(179deg,#0000,#000 5% 80%,#0000);

}
.hide{
  display: none;
}

#account a{
  padding: 0;
  margin-left :20px;
}

.footer{
  padding: 0 auto;
  display: block;
  height: 20vh;
}

#account span:hover{
  color: #05a79e !important;
}

.searchbar{
  display: flex;
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #353b48;
  border-radius: 30px;
  }
.search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  line-height: 40px;
  transition: width 0.4s linear;
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  }

.card{
  border-radius: 10px !important;
}

.search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration:none;
  cursor: pointer;
  }

  #signin a{
    font-weight: bold;
    color: #3fefe6 !important;
  }

  #signin a:hover{
    color: rgb(155, 248, 243) !important;
  }

  #signup a{
    font-weight: bold;
    color: #fd4544 !important;
  }
 #signup a:hover{
    color: #fc6b6b !important;
  }

  .oauth-button{
    background: transparent !important;
    border: none !important;
  }

  .uploader-status{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle, .mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic{
    stroke : #fd4544 !important;
  }

#wishlist{
  margin-left: 20px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: 0.5s;
}

#wishlist:hover{
  background: rgba(255, 255, 255, 0.25);
  cursor: pointer !important;
}

#wishlist div{
  font-size: 18px;
  color : #3fefe6;
  padding : 0 5px;
  font-weight: 600;
}

a{
  cursor : pointer !important;
}

.glider-slide{
  width: 200px !important;
}

.glider-slide a{
   display: block;
   width: 200px;
   height: 300px;
}

.glider-track .card:hover{
  transform: scale(1.05);
}

.card{
  transition: 0.4s;
}


#glidersearch .glider-track{
  padding-top: 15px;
}



.movie-details img{
  transition: 0.4s;
}

.movie-details img:hover{
  transform: scale(1.1);
}

#video{
  border-radius: 15px;
}

.signin{
  font-weight: 600;
}

.signup{
  font-weight: 600;
}


.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  height: 890px;
  background: #1a1b1b;
  min-width: 1300px !important;
}
.profile-img{
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.profile-img img{
  object-fit: cover;
  border-radius: 50%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: 9%;
  width: 200px;
  border: none;
  border-radius: 15px;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head div{
  color: #3fefe6;
  font-size: 30px;
  font-weight:bolder;
}
.profile-head h6{
  color: #fd4544;
}
.profile-edit-btn{
  font-size: 18px;
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 700;
  color: #fd4544;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #3fefe6;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

.col-md-6 p{
  color: white;
}
.photo-btn{
    font-weight: bold;
}
.photo-btn:hover{
  background: #fd4544 !important;
}

.staff-card{
  display: inline-block;
  margin-right: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
}

.staff-card img{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.staff-card div{
  width: 138px; 
  height: 70px; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  color: beige; 
  background: #1e2125;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#save-btn .loader{
  margin-top: 2px;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #FFF;
  border-bottom-color: #FF3D00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  }

  .chatbox::-webkit-scrollbar-track{
    background: inherit;
  
  }
  .chatbox::-webkit-scrollbar{
    width: 6px;
  }
  .chatbox::-webkit-scrollbar-thumb{
    background: grey;
  
  }

  .chatbot{
    background: #1a1b1b;
    position: fixed;
    right: 40px;
    bottom: 95px;
    border-radius: 15px;
    width: 420px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
  
  }

  .chatbot header{
    background: #fd4544;
    padding: 8px 0;
    text-align: center;;
  }
  .chatbot header h3{
    font-weight: bold;
  }
  .chatbot .chatbox{
    height: 400px;
    overflow-y: auto;
    padding: 15px 20px 70px;
  }
  .chatbox .chat{
    display: flex;
  }
  .chatbox .incoming p{
    font-weight: 500;
    color: white;
    padding: 12px 15px;
    border-radius: 10px 10px 10px 0px;
    background: #1e2125;
  }
  .chatbox .outcoming p{
    font-weight: 500;
    color: black;
    padding: 12px 15px;
    border-radius: 10px 10px 0 10px;
    background: #3fefe6;
  }
  .chatbot .outcoming{
    margin: 20px 0;
    justify-content: flex-end;
  }
  .chatbox .incoming span{
    height: 30px;
    width: 30px;
    align-self: flex-end;
    line-height: 10px;
  }
  .chatbot .chat-input{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    background: #1e2125;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: 1px solid #ccc;
    gap: 5px;
  }
  .chat-input textarea{
    color: white;
    background: #1e2125;
    width: 100%;
    border: none;
    outline: none;
    font-size: 0.95rem;
    resize: none;

  }
  .chat-input span{
    color: #fd4544;
    font-size: 30px;
    cursor: pointer;
    line-height: 40px;
    height: 55px;
  }
  .chatbot-toggler{
    position: fixed;
    right: 40px;
    bottom: 30px;
    height: 50px;
    width: 50px;
    background: #fd4544;
    outline: none;
    border: none;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  .chat-bot{
    position: relative;
    z-index: 100;
  }

  .background{
    background: rgb(0,0,0, 0.5);
    z-index: 50;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
  }



  
  