<div class="chat-bot">
<div *ngIf="show" style="color: aliceblue;" class="chatbot">
    <header>
        <h3>Chatbot</h3>
    </header>
<ul class="chatbox">
    <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there <br> How can I help you ?</p>
    </li>
    <li class="chat outcoming">
        <p>Tell me about Spring boot</p>
    </li>
</ul>
<div class="chat-input">
    <textarea placeholder="Enter your message"></textarea>
    <span id="send-btn" class="material-symbols-outlined">send</span>
</div>
</div>
<button class="chatbot-toggler" (click)="showChatBot()">
    <span *ngIf="!show" class="material-symbols-outlined" >mode_comment</span>
    <span *ngIf="show" class="material-symbols-outlined">close</span>
</button>
</div>
<div *ngIf="show" class="background">

</div>