<div class="chat-bot">
<div *ngIf="show" style="color: aliceblue;" class="chatbot">
    <header>
        <h3>Chatbot</h3>
    </header>
<ul id="chatbox" class="chatbox">
    <li class="chat incoming">
        <span class="material-symbols-outlined">smart_toy</span>
        <p>Hi there <br> How can I help you ?</p>
    </li>
</ul>
<div class="chat-input" (keyup.Enter)="send()">
    <textarea id="input" placeholder="Enter your message"></textarea>
    <span id="send-btn" class="material-symbols-outlined" (click)="send()">send</span>
</div>
</div>
<button class="chatbot-toggler" (click)="showChatBot()">
    <span *ngIf="!show" >
        <img src="assets/image/chatbot.png" alt="chatbot">
    </span>
    <span *ngIf="show" class="material-symbols-outlined">close</span>
</button>
</div>
<div *ngIf="show" class="background">

</div>